{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Add Blog Page</title>
<style>
    #form-div{
        width: 60%;
    }
</style>
{% endblock title %}


{% block body %}
<div class="container my-5">
    <!-- heading div -->
    <div class="container my-5  text-center bg-secondary p-4 rounded-3 shadow">
        <h1 class="text-light">Add Blog</h1>
    </div>

    <!-- form div -->
    <div class="container my-5 rounded-3" id="form-div">

        <form action="{% url 'addblog' %}" method="post" class="shadow p-3">
            {% csrf_token %}

            {% for fm in forms %}
                <div class="mb-3">
                    {{fm.label_tag}}
                    {{fm}}
                </div>
            {% endfor %}

            <div class="mb-3">
                <input type="submit" value="Add Blog" class="btn btn-success">
                <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>


        
    </div>
</div>

{% endblock body %}